* {
  user-select: none;
}
.options-display {
  padding: 20px;
}

.shift-query {
  margin-left: 10px;
}

.view-shift-queries {
  padding: 30px;
}

.view-shift-queries span {
  display: inline-block;
  margin-right: 1.25em;
}

.view-request-times .is-active {
  background-color: #f7f7f7;
}

.max-checked-input {
  width: 30px;
  margin-right: 10px
}

.auto-submit-checkbox {
  margin-right: 15px;
}

.auto-submit.control {
  width: 125px;
}
.max-checked.control {
  width: 125px;
}

.time-group:hover {
  color: #367;
  font-size: 1.05em;
}

.time-format.hh {
  font-weight: 600;
  color: rgba(0, 0, 0, 0);
}
.time-format.h {
  font-weight: 600;
}
.time-format.m {
  font-weight: 600;
}
.time-format.s {
  color: #FAA;
  font-weight: 600;
}
.time-format.ms {
  font-weight: 600;
  font-size: .95em;
}
.time-format.p {
  color: #222;
  font-weight: 600;
  font-size: 1em;
}

.login-time {}

.schedule-status {
  position: relative;
  min-height: 200px;
}
.current-time {
  font-size: 40px;
  letter-spacing: 2px;
}
.current-time .h {}
.current-time .m {}
.current-time .s {}
.current-time .p {}
.soon {
  color: #D9534F;
}

.countdown-time {
  position: absolute;
  right: 8px;
  top: 0px;
}
.countdown-time span {
  font-size: 40px;
}

.query-table {}
.query-table .type {}
.query-table .date {}
.query-table .start-time {}
.query-table .end-time {}
