<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

	<div align="center">



<table width="100%" border="0" cellpadding="0" cellspacing="0" background="graphics/headerbarbgd.gif">
<tbody><tr>
<td width="279" height="75"><div align="left">&nbsp;&nbsp;<a href="main.asp"><img src="logo/mgmmandalay.gif" border="0" align="absmiddle"></a></div></td>
<td height="75" valign="top"><div align="right">
<table width="600" height="75" border="0" cellpadding="0" cellspacing="0">
<tbody><tr>
<td width="590" height="62">
<script language="javascript">
function PoweredByCelayix()
{
        window.open("poweredbycelayix.asp","poweredpopup","width=301,height=120,top=75,left=100,toolbar=no,location=no,directories=no,status=no,scrollbars=no,resizable=no,menubar=no");
}
</script>
<div align="right">

<a href="schedule_month.asp"><img src="graphics/navigation/scheduling_small.gif" alt="Scheduling" width="63" height="62" border="0"></a>

<a href="userpreferences.asp"><img src="graphics/navigation/userpreferences_small.gif" alt="User Profile" width="58" height="62" border="0"></a></div></td></tr><tr>
<td height="13"><div align="right"><a href="javascript:PoweredByCelayix()"><img src="graphics/navigation/poweredbycelayix.gif" width="123" height="13" border="0"></a></div></td>
</tr>
</tbody></table>
</div></td>
</tr>
<tr>
<td width="279" height="58" rowspan="2" valign="top"><div align="left"><br>
<br>
<div align="left"><font size="2" face="Arial, Helvetica, sans-serif">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome, KENT&nbsp;WYATT&nbsp;JR </font></div>
</div></td>
<td height="38"><div align="right"><strong><font size="3" face="Arial, Helvetica, sans-serif"> </font></strong><br>
</div></td>
</tr>
<tr>
<td height="29"><div align="right"><strong><font size="3" face="Arial, Helvetica, sans-serif"><a href="main.asp">
</a></font></strong><strong><font size="3" face="Arial, Helvetica, sans-serif"><a href="main.asp"><img src="graphics/buttons/home.gif" alt="Home" width="76" height="23" border="0"></a>&nbsp;&nbsp;</font></strong><a href="logout.asp"><img src="graphics/buttons/logout.gif" alt="Log Out" width="86" height="23" border="0"></a>&nbsp;&nbsp;&nbsp;<br>
<br>
&nbsp;&nbsp;&nbsp;</div></td>
</tr>
</tbody></table>

	  <form action="schedule_self.asp" method="get" name="form2" onsubmit="YY_checkform('form2','StartDate','#^\([0-9]?[0-9]\)\/\([0-9]?[0-9]\)\/\([0-9]{4}\)$#2#1#3','3','Please enter a valid From Date. Format: MM/DD/YYYY','EndDate','#^\([0-9]?[0-9]\)\/\([0-9]?[0-9]\)\/\([0-9]{4}\)$#2#1#3','3','Please enter a valid To Date. Format: MM/DD/YYYY');return document.MM_returnValue">

		<table width="95%" border="0" cellspacing="0" cellpadding="0">
		  <tbody><tr>

			<td valign="absmiddle"><div align="left">
			  <img src="graphics/titles/selfscheduling.gif" width="170" height="23">
				</div></td><td valign="absmiddle"><div align="right">
&nbsp;</div></td>
		  </tr>
		</tbody></table>
		<table width="95%" border="0" cellspacing="0" cellpadding="0">
		  <tbody><tr>
			<td align="left" class="smallbodyfont"><a href="schedule_month.asp?Date=04/01/2017&amp;EmpID=&amp;Type="><img src="graphics/buttons/backtoschedule.gif" border="0"></a></td><td align="right"><div align="right"><span class="smallbodyfont"><strong>From:</strong>&nbsp;
				<input name="sstype" type="hidden" id="sstype" value="GroupList" size="12">
				<input name="StartDate" type="text" class="smallbodyfont" id="StartDate" value="04/01/2017" size="12">
				<a href="javascript:PopupCalendar('04/01/2017','StartDate');"><img src="graphics/icons/minicalendar.gif" width="16" height="16" border="0" align="absmiddle"></a>&nbsp;
				</span>&nbsp;<span class="smallbodyfont"><strong>To:</strong>&nbsp;
				<input name="EndDate" type="text" class="smallbodyfont" id="EndDate" value="04/29/2017" size="12">
				<a href="javascript:PopupCalendar('04/29/2017','EndDate');"><img src="graphics/icons/minicalendar.gif" width="16" height="16" border="0" align="absmiddle"></a>
				&nbsp;

<select name="Filter1" class="smallbodyfont" id="Filter1"><option value="12">All Services</option><option value="25">Cash Concession</option><option value="13">Coffee Break</option><option value="14">Server</option></select>  <select name="Filter2" class="smallbodyfont" id="Filter2"><option value="15">0-1:All Meal Periods</option><option value="43">0-2:Hourly</option><option value="44">1-1:Cash Concession</option><option value="45">1-2:Coffee Break</option><option value="16">2-1:Breakfast</option><option value="17">3-1:Lunch</option><option value="46">4-1:Reception</option><option value="18">4-2:Dinner</option><option value="68">4-3:  Breakfast &amp; Lunch</option><option value="69">4-4:  Reception &amp; Dinner</option><option value="70">4-5:  Lunch Reception Dinner</option></select>

				</span>&nbsp;<input name="imageField" type="image" src="graphics/buttons/go.gif" align="absmiddle" width="32" height="20" border="0"></div></td>
		  </tr>
		  <tr>
		  <td colspan="2" align="right">
		 <br>
		<table width="95%" border="0" cellspacing="0" cellpadding="0">
		  <tbody><tr>
		  <td align="right"><div align="right"><span class="smallbodyfont"><font face="Arial, Helvetica, sans-serif"><font color="#666666"><font face="Arial, Helvetica, sans-serif"><font color="#666666">

		  </font></font></font></font></span></div></td>
		  </tr>
		</tbody></table>



		  </td>
		  </tr>
		  <tr>
			<td colspan="2"></td>
		  </tr>
		</tbody></table>
      </form>         <form name="form1" method="post" action="schedule_self.asp?StartDate=04/01/2017&amp;EndDate=04/29/2017&amp;sstype=SaveError">            <table width="95%" cellpadding="3" cellspacing="0" bgcolor="#F7F7F8" class="tablewhiteborders"><tbody><tr><td class="tablewhiteborders"><div align="left" class="smallbodyfont"><font color="#000000"><strong>Select</strong></font></div></td><td class="tablewhiteborders"><div align="left" class="smallbodyfont"><font color="#000000"><strong>Date</strong></font></div></td><td class="tablewhiteborders"><div align="left" class="smallbodyfont"><font color="#000000"><strong>Meal Prd</strong></font></div></td><td class="tablewhiteborders"><div align="left" class="smallbodyfont"><font color="#000000"><strong>Room</strong></font></div></td><td class="tablewhiteborders"><div align="left" class="smallbodyfont"><font color="#000000"><strong>Scheduled Start</strong></font></div></td><td class="tablewhiteborders"><div align="left" class="smallbodyfont"><font color="#000000"><strong>Scheduled End</strong></font></div></td><td class="tablewhiteborders"><div align="left" class="smallbodyfont"><font color="#000000"><strong>Service Type</strong></font></div></td></tr> <tr>  <td width="35" align="center" bgcolor="#FFFFFF" class="tablewhiteborders" <center=""><input name="boxes1" type="checkbox" class="smallbodyfont" id="boxes1" value="Y">  <input name="shiftid1" type="hidden" id="shiftid" value="1">             </td> <td class="tablewhiteborders"><div align="left" class="smallbodyfont">04/29/2017</div></td><td class="tablewhiteborders"><div align="left" class="smallbodyfont">Reception</div></td><td class="tablewhiteborders"><div align="left" class="smallbodyfont">SOUTH PACIFIC EF</div></td><td class="tablewhiteborders"><div align="left" class="smallbodyfont">05:00pm</div></td><td class="tablewhiteborders"><div align="left" class="smallbodyfont">11:59pm</div></td><td class="tablewhiteborders"><div align="left" class="smallbodyfont">SRV</div></td></tr><tr>                    <td rpwspan="2" colspan="7">                    <div align="center" class="smallbodyfont"> <b>No shifts are available</b></div>                   </td>                </tr> <tr>  <td width="35" align="center" bgcolor="#FFFFFF" class="tablewhiteborders" <center=""><input name="boxes2" type="checkbox" class="smallbodyfont" id="boxes2" value="Y">  <input name="shiftid2" type="hidden" id="shiftid" value="2">             </td> <td class="tablewhiteborders"><div align="left" class="smallbodyfont">04/29/2017</div></td><td class="tablewhiteborders"><div align="left" class="smallbodyfont">Dinner</div></td><td class="tablewhiteborders"><div align="left" class="smallbodyfont">JASMINE ABEF</div></td><td class="tablewhiteborders"><div align="left" class="smallbodyfont">04:00pm</div></td><td class="tablewhiteborders"><div align="left" class="smallbodyfont">11:59pm</div></td><td class="tablewhiteborders"><div align="left" class="smallbodyfont">SRV</div></td></tr> <tr>  <td width="35" align="center" bgcolor="#FFFFFF" class="tablewhiteborders" <center=""><input name="boxes3" type="checkbox" class="smallbodyfont" id="boxes3" value="Y">  <input name="shiftid3" type="hidden" id="shiftid" value="3">             </td> <td class="tablewhiteborders"><div align="left" class="smallbodyfont">04/29/2017</div></td><td class="tablewhiteborders"><div align="left" class="smallbodyfont">Dinner</div></td><td class="tablewhiteborders"><div align="left" class="smallbodyfont">BANYAN ABCD</div></td><td class="tablewhiteborders"><div align="left" class="smallbodyfont">04:30pm</div></td><td class="tablewhiteborders"><div align="left" class="smallbodyfont">10:00pm</div></td><td class="tablewhiteborders"><div align="left" class="smallbodyfont">SRV</div></td></tr>   </tbody></table>      <br>          <table width="95%" border="0" cellspacing="0" cellpadding="3">            <tbody><tr>                <td>                   <div align="left">                      <a href="javascript:submitform('Confirm');"><img src="graphics/buttons/submit.gif" width="57" height="23" border="0"></a>&nbsp;                      <input name="ActionType" type="hidden" id="ActionType">                      <input name="EmpID" type="hidden" id="EmpID" value="345652">                      <input name="NumShifts" type="hidden" id="NumShifts" value="3">                      <input name="StartDate" type="hidden" id="StartDate" value="04/01/2017">                      <input name="EndDate" type="hidden" id="EndDate" value="04/29/2017">                      <input name="MaxNumShifts" type="hidden" id="MaxNumShifts" value="4">                      <input name="TimeStamp" type="hidden" id="TimeStamp" value="04/28/2017 15:00:12.341-07:00">                      <input name="sstype" type="hidden" id="sstype" value="SaveConfirm">                   </div>                </td>            </tr>          </tbody></table></form>

		<br>
			<strong></strong>
      <table width="95%" border="0" cellspacing="0" cellpadding="3">
		  <tbody><tr>
			<td><div align="left"><strong></strong></div>          <div align="right"></div></td>
		  </tr>
	  </tbody></table>
	  <br>


</div></body>
